<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> DPNM Blockchain Monitoring System </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- Additional Styling Defined -->
	<style>
	.jumbotron
	{
		background-image: linear-gradient(90deg, rgb(0, 4, 40) 0%, rgb(0, 52, 109) 100%);
	}
	.nav-bg-gradient {
		background-image: linear-gradient(90deg, rgb(0, 4, 40) 0%, rgb(0, 52, 109) 100%);
	}
	.nav-bg-color {
		background: #004a7c;
	}
	.cliente {
		margin-top:10px;
		border: #cdcdcd medium solid;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		font-family: Montserrat, sans-serif;
		font-weight: 400;
		font-size: 1.1rem;
		text-transform: uppercase;
		font-style: normal;
		justify-content: center;
		-ms-flex-pack:center;
		padding: 1rem 1rem;
		box-sizing: border-box;
	}
	.rounded-left {
  		border-top-left-radius: 1rem !important;
  		border-bottom-left-radius: 1rem !important;
	}
	.rounded-right {
  		border-top-right-radius: 1rem !important;
  		border-bottom-right-radius: 1rem !important;
	}
	.myfontface {
		font-family: Montserrat, sans-serif
	}
	</style>
</head>
<body>
	<!-- Section for top navigation bar -->
	<section height="4.5rem">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg nav-bg-color">
    			<ul class="navbar-nav">
    				<li class="nav-item">
    					<a class="nav-link py-4 px-4 text-uppercase text-white font-weight-bold h4" href="/bms">Blockchain</a>
    				</li>
      				<li class="nav-item">
        				<a class="nav-link py-4 px-4 text-uppercase text-white h6" href="#">Link 1</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link py-4 px-4 text-uppercase text-white h6" href="#">Link 2</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link py-4 px-4 text-uppercase text-white h6" href="#">Link 3</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link py-4 px-4 text-uppercase text-white h6" href="#">Link 4</a>
      				</li>
    			</ul>
    			<ul class="navbar-nav ml-auto">
    				<li class="nav-item">
    					<div class="input-group">
    						<div class="input-group-append">
    							<span class="input-group-text border-right-0 rounded-left"><i class="fas fa-search"></i></span>
    						</div>
    						<input class="form-control border-left-0 rounded-right" type="search" placeholder="Blocks, Hash, Transactions" aria-label="Search">
    					</div>
    				</li>
    				<li class="nav-item">
    					<button class="btn btn-success mx-4" type="submit">Search</button>
    				</li>
    			</ul>
			</nav>
		</div>
	</section>

	<!-- Section for the body -->
	<section height="60rem">
		<div class="container">
			<br/>
			<nav class="navbar navbar-expand">
				<ul class="navbar-nav">
					<li class="nav-item">
						<i class="fab fa-bitcoin fa-2x mr-3"></i>
						<span class="h3 mr-3 myfontface text-black"><a href="/bms"> Bitcoin </a></span>
					</li>
					<i class="fas fa-arrow-right fa-2x"></i>
					<span class="h3 ml-3 myfontface"> Transaction </span>
				</ul>
				<ul class="navbar-nav ml-auto">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="mydropdownmenu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-hasexpanded="false"><span class="h4 myfontface"> BTC </span></button>
						<ul class="dropdown-menu" aria-labelledby="mydropdownmenu">
							<button class="dropdown-item myfontface">BTC</button>
							<button class="dropdown-item myfontface">USD</button>
						</ul>
					</div>
				</ul>
			</nav>
			<hr style="height:5px;border:none;background-color:#ffbf00;" />
		</div>

		<div class="container">
			<br/>
			<div class="row">
				<div class="col">
					<br/>
					<table class="table table-striped table-bordered">
						
						<thead>
							<tr>
								<th scope="row">Transaction Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Txn Hash</td>
								<td><%= btctxninfo[0].txnhash %></td>
							</tr>
								<td>From</td>
								<td>
									<table>
										<% for(var i=0; i < btcTxnSenderAddrArr.length; i++) { %>
										<tr>
											<td><%= btcTxnSenderAddrArr[i] %></td><td><%= btcTxnSenderAmtArr[i] %> BTC</td>
										</tr>
										<% } %>
									</table>
									
								</td>
							<tr>
								<td>To</td>
								<td>
									<table>
										<% for(var i=0; i < btcTxnOutputAddrArr.length; i++) { %>
										<tr>
											<td><%= btcTxnOutputAddrArr[i] %></td><td><%= btcTxnOutputValArr[i] %> BTC</td>
										</tr>
										<% } %>
									</table>
								</td>	
							</tr>
							<tr>
								<td>Total Input</td>
								<td> <%= inputSum %> BTC </td>
							</tr>
							<tr>
								<td>Total Output</td>
								<td><%= btctxninfo[0].totalout %> BTC </td>
							</tr>
							<tr>
								<td>Size</td>
								<td><%= btctxninfo[0].size %></td>
							</tr>
							<tr>
								<td>Weight</td>
								<td><%= btctxninfo[0].weight %></td>
							</tr>
							<tr>
								<td>Lock Time</td>
								<td><%= btctxninfo[0].locktime %></td>
							</tr>
							<tr>
								<td>Input ScriptSig</td>
								<td><textarea class="form-control" rows="3" id="inputscriptsig" name="text"><%= btctxninfo[0].inputscriptsig %></textarea></td>
							</tr>
							<tr>
								<td>Output ScriptSig</td>
								<td><textarea class="form-control" rows="3" id="outputscriptsig" name="text"><%= btctxninfo[0].outputscriptsig %></textarea></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</section>
</body>
</html>